*{
    box-sizing: border-box;
}

h1 {
    font-size: 300%;
    text-align: center;
    font-family: impact ;
    color: rgb(255, 0, 0);
    
}

section.food{
    border: 1px solid;
    margin: 10px;

}
.section-title {
    font-size: 125%;
    font-family: times ;
    border: 1px solid ;
    float: right;
    position: relative;
    text-align: center;
    width: 25%;
    margin: -1px -1px 0px 0px;

}
p{
    clear: both;
    margin: 30px 10px 10px 20px;
    font-family: verdana ;
}
div>div{
    float: left;
}

@media (min-width: 992px){
    .col-lg {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
 
    .col-md-2 {
        width: 50%;
    }
    .col-md-1 {
        width: 100%;
    }
}
@media (max-width: 767px){
    .col-sm {
        width: 100%;
    }


    ----/// colors ///---
}
#chicken{
    background-color: rgb(139, 139, 224);
}
#chicken .section-title{
    background-color: rgb(214, 140, 44);
}
#beef {
    background-color: rgb(2, 3, 0);
}
#beef>p{
    color: antiquewhite;
}
#beef .section-title {
    background-color: rgb(41, 236, 34);
}
#sushi{
    background-color: rgb(90, 133, 21);
}
#sushi .section-title{
    background-color: rgb(215, 238, 161);

}
